.main{
  background: linear-gradient(
    217deg,
    rgba(96, 150, 180, 1),
    rgba(255, 0, 0, 0) 70.71%
  ), linear-gradient(127deg, rgba(147, 191, 207, 1), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(0, 51, 102, 1), rgba(0, 0, 255, 0) 70.71%);
  height: 100vh;
  padding-top:150px;
  overflow: hidden;
}
.list{
  list-style-type: u !important;
}
.text{
  width: 90%;
  margin-right: 30%;
}
.peo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.pe{
  display: flex;
  align-items: center;
  margin-right: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 200px;
  background-image: linear-gradient(to right,#36454F , #224e7d);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
   transition: box-shadow 600ms cubic-bezier(.33,.11,.02,.99),
              transform  600ms cubic-bezier(.33,.11,.02,.99);
  
  &:hover {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 32px 32px rgba(0, 0, 0, .15), 
               8px 64px 64px rgba(0, 0, 0, .15); 

    transform: scale(1.05)
               translateY(-0.5rem);
  }
  
  
  &:active {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 16px 16px rgba(0, 0, 0, .15), 
               8px 32px 32px rgba(0, 0, 0, .15); 
  }
}
.head{
  margin-right: 0;
  color: #224e7d;
  font-family: 'Bebas Neue', sans-serif;
}
.text2{
  width: 90%;
  margin-left: 10%;
}
.pso{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.ps{
  display: flex;
  align-items: center;
  margin-left: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 200px;
  background-image: linear-gradient(to right,#36454F , #224e7d);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  font-weight: 600;
  padding: 20px;
  transition: box-shadow 600ms cubic-bezier(.33,.11,.02,.99),
              transform  600ms cubic-bezier(.33,.11,.02,.99);
  
  &:hover {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 32px 32px rgba(0, 0, 0, .15), 
               8px 64px 64px rgba(0, 0, 0, .15); 

    transform: scale(1.05)
               translateY(-0.5rem);
  }
  
  
  &:active {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 16px 16px rgba(0, 0, 0, .15), 
               8px 32px 32px rgba(0, 0, 0, .15); 
  }
}

