<div class="main">
<div class="text">
  <div class="peo">
    <h1 class="head">Program Educational Outcomes(PEO)</h1>
    <div class="pe">
    <ul class="list">
      <li>Be experts in the field of computer science and engineering with sound knowledge and hands-on experience in the latest technologies, excellent problem-solving skills, along with a strong desire to learn and update themselves and be able to devise the best solutions for all the engineering problems they encounter.</li>
      <li>Develop the ability to associate and work in teams, have profound communication skills, and exceptional leadership skills that benefit them to grow as leaders or entrepreneurs.</li>
      <li>Be committed to society, responsible to take care of the needy, and behold personal and professional ethics in all their endeavors.</li>
    </ul>
  </div>
</div>
</div>

<div class="text2">
  <div class="pso">
  <h1 class="head">Program <br>
    Specific Outcomes(PSO)</h1>
  <div class="ps">
    <ul class="list">
    <li>Understand the fundamentals and the functionalities of the hardware and software aspects of computer systems.</li>
    <li>Use professional engineering practices, methods, and skills to develop efficient computing solutions.</li>
    <li>Have expertise in state-of-the-art technologies, excavate the possibilities of entrepreneurship, and also build optimal solutions to real-life problems.</li>
  </ul>
</div>
</div>
</div>

</div>