<div class="text">
 <div class="one">
  <h1>Progam Educational Outcomes(PEO)</h1></div>
  <div class="peo">
  <ul>Be experts in the field of computer science and engineering with sound knowledge and hands-on experience in the latest technologies, excellent problem-solving skills, along with a strong desire to learn and update themselves and be able to devise the best solutions for all the engineering problems they encounter.</ul>
  <ul>Develop the ability to associate and work in teams, have profound communication skills, and exceptional leadership skills that benefit them to grow as leaders or entrepreneurs.</ul>
  <ul>Be committed to society, responsible to take care of the needy, and behold personal and professional ethics in all their endeavours.</ul>
  </div>
 </div>


<div class="text2">
 <div class="one">
  <h1>Program Specific Outcomes(PSO)</h1></div>
  <div class="pso">
  <ul>Understand the fundamentals and the functionalities of the hardware and software aspects of computer systems.</ul>
  <ul>Use professional engineering practices, methods, and skills to develop efficient computing solutions.</ul>
  <ul>Have expertise in state-of-the-art technologies, excavate the possibilities of entrepreneurship, and also build optimal solutions to real-life problems</ul>
</div>
</div>