.text{
  position: absolute;
  padding-top: 150px;
  width: 50%;
  height: 540px;
  background-color: red;
}
.text2{
  overflow: hidden;
  position: relative;
  background-color: green;
  display: flex;
  flex-direction:column;
  padding-top: 150px;
  margin-left: 50%;
  width: 50%;
  height: 540px;
}
h1{
  display: flex;
  justify-content: center;
}
.head{
  color: chartreuse;
}
