<div class="text">
  <div class="one">
  <h1>VISION</h1></div>
  <div class="vision">

      <P>To emerge as the pinnacle of research and learning in the field of computer science, yield top professionals with a predominant skillset, excellent leadership qualities, and a pledged commitment to society.</P>

  </div>
</div>
<div class="text2">
  <div class="one">
  <h1>MISSION</h1></div>
  <div class="mission">
      <ul>To produce and nurture quality engineers in the field of computer science and engineering with sound knowledge in state-of-the-art technology across various disciplines </ul>
      <ul>To strengthen our graduates and gear them up to face the real-world challenges by creating an ambience to move towards innovation and its accomplishment through digital thinking.</ul>
      <ul>To induce social responsibilities and human values in our graduates.</ul>
  </div>
