.text{
    position: absolute;
    padding: 4px;
    background:rgb(236, 236, 236);
    display: flex;
    width: 50%;
    height: 540px;
    flex-direction:column;
    border-right: 25px; 
    border-color: #b80000;
}
.text2{
  position: relative;
  padding: 4px;
  background:rgb(236, 236, 236);
  display: flex;
  margin-left: 50%;
  width: 50%;
  height: 540px;
  flex-direction:column;
}
.one h1:before {
    width: 2000px;
    height: 1px;
    display: block;
    content: "";
    position: sticky;
    background-color: #b80000;
  }
.one h1 {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-transform: uppercase;
    /* width: 255px;
    height: 50px; */
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(241, 239, 244, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    position: sticky;
    /* text-align: left; */
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .one h1:after {
    width: 2000px;
    height: 1px;
    display: block;
    content: "";
    position: sticky;
    background-color: #b80000;
  }

.vision{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height:fit-content;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 3px rgba(0.5,0.5,0.5,0.5);
    text-transform: uppercase;
    background-color: #FCFCFD;
    cursor: pointer;
  
  transition: box-shadow 600ms cubic-bezier(.33,.11,.02,.99),
              transform  600ms cubic-bezier(.33,.11,.02,.99);
  
  &:hover {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 32px 32px rgba(0, 0, 0, .15), 
               8px 64px 64px rgba(0, 0, 0, .15); 

    transform: scale(1.05)
               translateY(-0.5rem);
  }
  
  
  &:active {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 16px 16px rgba(0, 0, 0, .15), 
               8px 32px 32px rgba(0, 0, 0, .15); 
  }
}

.mission{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    padding: 50px;
    margin: auto;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #FCFCFD;
    box-shadow: 3px 3px 4px 3px rgba(0.5,0.5,0.5,0.5);
    cursor: pointer;
  
  transition: box-shadow 600ms cubic-bezier(.33,.11,.02,.99),
              transform  600ms cubic-bezier(.33,.11,.02,.99);
  
  &:hover {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 32px 32px rgba(0, 0, 0, .15), 
               8px 64px 64px rgba(0, 0, 0, .15); 

    transform: scale(1.05)
               translateY(-0.5rem);
  }
  
  
  &:active {
   box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
               0 1px  6px  rgba(0, 0, 0, .05),
               0 8px  8px  rgba(0, 0, 0, .1), 
               0 16px 16px rgba(0, 0, 0, .1), 
               8px 16px 16px rgba(0, 0, 0, .15), 
               8px 32px 32px rgba(0, 0, 0, .15); 
  }
}