.navbar{
    padding: 0%;
}
.navbar-nav > li > a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid{
    background: linear-gradient(270deg, #6096B4 0%, #93BFCF 100%);
    font-family: 'Roboto', sans-serif ;
    margin: 0px;
}
