.main {
  position: relative;
  height: 700px;
}

.about {
  display: flex;
  color: white;
  width: 60%;
  font-family: 'Noto Sans JP';
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding:20px;
  margin-top: 100px;
  margin-left: 70%;
  border-radius: 20px;
  top: 50%;
  z-index: 1000;
  background: linear-gradient(to right, rgba(189, 195, 199, 0.5), rgba(44, 62, 80, 0.5));
  transform: translateX(-50%);
  position: relative;
  z-index: 2;
}
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
app-footer {
  position: relative;
  z-index: 2;
}
