.btn-container{
    margin-top: 20px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
}
button{

    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #000000;
    cursor: pointer;
    transition: 0.3s;
}
::ng-deep .popover {
    color: red;
    width: auto !important;
    max-width:600px !important;
    
  }
::ng-deep .popover-body{
    /* width: 700%; */
    height: 100%;
    text-align: left;
  }
  --bs-popover-end{
    width: 100%;
  }