div{
  color: white;
  width: 100%;
  font-family: 'Noto Sans JP';
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
 
  position: absolute;
  top: 50%;
  z-index: 1;
  background: linear-gradient(to right, rgba(189, 195, 199, 0.5), rgba(44, 62, 80, 0.5));

}