<div class="main">
  <div class="about">
    Computer science degrees deal with the foundations of information and
    computation, taking a scientific and practical approach to computation and its
    applications.<br />
    <br />
    Computation is defined as any type of calculation or use of computing
    technology that follows well-defined models in the practice of information
    processing.
  </div>
<div class="carousel">
  <app-carousel></app-carousel>
</div>
</div>

<app-footer></app-footer>



