<div class="btn-container">
  <button type="button" class="btn btn-success" placement="end"
    ngbPopover="To emerge as the pinnacle of research and learning in the field of computer science, yield top professionals with a predominant skillset, excellent leadership qualities, and a pledged commitment to society."
    popoverTitle="VISION">
    VISION
  </button>


  <button type="button" class="btn btn-success" placement="end" 
    [ngbPopover]= "popoverContentMISSION"
    popoverTitle="MISSION"
    ngbPopoverClass="popover">
    MISSION
    <ng-template #popoverContentMISSION>
      <ul>
        <li>To produce and nurture quality engineers in the field of computer science and engineering with sound knowledge in state-of-the-art technology across various disciplines.</li>
        <li>To strengthen our graduates and gear them up to face the real-world challenges by creating an ambience to move towards innovation and its accomplishment through digital thinking.</li>
        <li>To induce social responsibilities and human values in our graduates.</li>
      </ul>
    </ng-template>
  </button>


  <button type="button" class="btn btn-success" placement="end"
    [ngbPopover]= "popoverContentPEO"
    popoverTitle="PROGRAM EDUCATIONAL OBJECTIVES (PEO)">
    PEO
    <ng-template #popoverContentPEO>
      The graduates will
      <ul>
        <li>Be experts in the field of computer science and engineering with sound knowledge and hands-on experience in the latest technologies, excellent problem-solving skills, along with a strong desire to learn and update themselves and be able to devise the best solutions for all the engineering problems they encounter.</li>
        <li>Develop the ability to associate and work in teams, have profound communication skills, and exceptional leadership skills that benefit them to grow as leaders or entrepreneurs.</li>
        <li>Be committed to society, responsible to take care of the needy, and behold personal and professional ethics in all their endeavours.</li>
      </ul>
    </ng-template>
  </button>


  <button type="button" class="btn btn-success" placement="end"
    [ngbPopover]= "popoverContentPO"
    popoverTitle="PROGRAM OUTCOMES (PO)">
    PO
    <ng-template #popoverContentPO>
      The graduates will
      <ol>
        <li><strong>Engineering Knowledge:&nbsp;</strong>
        Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</li>
        <li><strong>Problem Analysis:&nbsp;</strong>
          Identify, formulate, review research literature, and analyse complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</li>
        <li><strong>Design/Development of Solutions:&nbsp;</strong>
          Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, social, and environmental considerations.</li>
        <li><strong>Design/Development of Solutions:&nbsp;</strong>
          Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, social, and environmental considerations.</li>
        <li><strong>Design/Development of Solutions:&nbsp;</strong>
          Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, social, and environmental considerations.</li>
        <li><strong>Design/Development of Solutions:&nbsp;</strong>
          Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, social, and environmental considerations.</li>]
        </ol>
    </ng-template>
  </button>


  <button type="button" class="btn btn-success" placement="end"
    [ngbPopover]= "popoverContentPSO"
    popoverTitle="PROGRAM SPECIFIC OUTCOMES (PSO)">
    PSO
    <ng-template #popoverContentPSO>
      The graduates will
      <ul>
        <li>Be experts in the field of computer science and engineering with sound knowledge and hands-on experience in the latest technologies, excellent problem-solving skills, along with a strong desire to learn and update themselves and be able to devise the best solutions for all the engineering problems they encounter.</li>
        <li>Develop the ability to associate and work in teams, have profound communication skills, and exceptional leadership skills that benefit them to grow as leaders or entrepreneurs.</li>
        <li>Be committed to society, responsible to take care of the needy, and behold personal and professional ethics in all their endeavours.</li>
      </ul>
    </ng-template>
  </button>

  <script src="homepage.js"></script>
</div>