<div class="main">
    <div class="head">
    <h1>DEPARTMENT LIBRARY </h1>
    </div>
    <div class="body">
    <p>The department's library is well equipped and contains a large selection of books on all major areas of computer science and engineering, as well as a separate collection of reference books</p>
    <p>The department's library includes primarily</p>
    <ol>
        <li>Textbooks on areas relevant to the discipline</li>
        <li>Proceedings of various conferences</li>
        <li>Question bank</li>
        <li>Project Report</li>
    </ol>
    <br>
    </div>
    <div class="col">
    <p>Collection of books</p>
    </div>
    
    
    <a href="https://docs.google.com/spreadsheets/d/15W6U84hMg2LwaxMy09iZyol-xc-PylnF/edit?usp=sharing&ouid=111463239530092825488&rtpof=true&sd=true" target="blank">
    <button>Download</button>
    </a>
    
</div>
