<div class="main">
  <div class="syllabus">
    <h1>syllabus</h1>
  </div>
  <div class="odd">
    <a class="link"
      href="https://drive.google.com/file/d/1JQJzNsIs49h77OU-KfHbWWwQXw5DBn7F/view"
      target="blank"
    >
      <button>SEMESTER1</button>
    </a>
    <a
      href="https://ktu.edu.in/data/COMPUTER%20SCIENCE%20AND%20ENGINEERING.pdf?=6zhHGxtcv%2BpdWeW%2Bhfm9irMp56EXZnuJtHg9d8MF4SF0w9i9GoMwQGsZb0%2BNysrIoVXD9JwDgOVGiH5GNM4bbA%3D%3D"
      target="blank"
    >
      <button>SEMESTER3</button>
    </a>
    <a
      href="https://drive.google.com/file/d/1ZNMcYxcmN-3Z6p87buuTfJTiDYMZrrdJ/view?usp=sharing"
      target="blank"
    >
      <button>SEMESTER5</button>
    </a>
    <a
      href="https://drive.google.com/file/d/16iDgCO0S5Y8sWmi9UZZ8sNMZ_IISgKxp/view?usp=sharing"
      target="blank"
    >
      <button>SEMESTER7</button>
    </a>
  </div>

  <div class="even">
    <a
      href="https://drive.google.com/file/d/1FvO0_Rxyk9PcKMdMEdR1sa5P5J1qGST4/view"
      target="blank"
    >
      <button>SEMESTER2</button>
    </a>
    <a
      href="https://drive.google.com/file/d/1ydIUIjOPUFMo02Dqgns1Xd0HFwxHufjj/view"
      target="blank"
    >
      <button>SEMESTER4</button>
    </a>
    <a
      href="https://drive.google.com/file/d/181EfQSUA6GA2s9VQ3VSlx5MVb4ulmrL6/view?usp=sharing"
      target="blank"
    >
      <button>SEMESTER6</button>
    </a>
    <a
      href="https://drive.google.com/file/d/1RIRu4JmomG_xS_Z9UGe58xILxpc7xypS/view?usp=sharing"
      target="blank"
    >
      <button>SEMESTER8</button>
    </a>
  </div>
</div>

