<div class="main">
<div class="syllabus">
    <h1>syllabus</h1>
</div>
<div class="odd">
<a href="https://drive.google.com/file/d/1JQJzNsIs49h77OU-KfHbWWwQXw5DBn7F/view" target="blank">
<button>S1</button>
</a>
<a href="https://ktu.edu.in/data/COMPUTER%20SCIENCE%20AND%20ENGINEERING.pdf?=6zhHGxtcv%2BpdWeW%2Bhfm9irMp56EXZnuJtHg9d8MF4SF0w9i9GoMwQGsZb0%2BNysrIoVXD9JwDgOVGiH5GNM4bbA%3D%3D" target="blank">
<button>S3</button>
</a>
<button>S5</button>
<button>S7</button>
</div>

<div class="even">
<a href="https://drive.google.com/file/d/1FvO0_Rxyk9PcKMdMEdR1sa5P5J1qGST4/view" target="blank">
<button>S2</button>
</a>
<a href="https://drive.google.com/file/d/1ydIUIjOPUFMo02Dqgns1Xd0HFwxHufjj/view" target="blank">
<button>S4</button>
</a>
<button>S6</button>
<button>S8</button>
</div>
</div>
