.carousel-container {
    z-index: 0;
}
.carousel-item {
    padding-left: 0;
    padding-right: 0;
  }
  
  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .carousel-inner .carousel-item {
    flex: 0 1 100%;
    max-width: 100%;
  }
  