.carousel-container {
    z-index: 0;
}
.carousel-item {
    padding-left: 0;
    padding-right: 0;
    object-fit: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .carousel-inner .carousel-item {
    flex: 0 1 100%;
    max-width: 100%;
  }
  .com {
    color: white;
    width: 40%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    margin-bottom: 100px;
    z-index: 2;
  }
p{
  padding: 0px;
  margin: 0px;
  color: orangered;
}