<div class="main">
    <div class="head">
    <h1>RESOURCES</h1>
    </div>
    <div class="body">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S1
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">lINEAR ALGEBRA & CALCULUS</a></li>
              <li><a class="dropdown-item" href="#">ENGINEERING PHYSICS A</a></li>
              <li><a class="dropdown-item" href="#">ENGINEERING GRAPHICS</a></li>
              <li><a class="dropdown-item" href="#">BME</a></li>
              <li><a class="dropdown-item" href="#">BCE</a></li>
              <li><a class="dropdown-item" href="#">LIFE SKILLS</a></li>
              <!-- <li><a class="dropdown-item" href="#">Notes</a></li> -->
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S2
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">VECTOR CALCULUS,DIFFERENTIAL EQUATIONS AND TRANSFORMS</a></li>
              <li><a class="dropdown-item" href="#">ENGINEERING CHEMISTRY</a></li>
              <li><a class="dropdown-item" href="#">ENGINEERING MECHANICS</a></li>
              <li><a class="dropdown-item" href="#">BASICS OF ELECTRONICS ENGINEERING</a></li>
              <li><a class="dropdown-item" href="#">BASICS OF ELECTRICAL ENGINEERING</a></li>
              <li><a class="dropdown-item" href="#">PROFESSIONAL COMMUNICATION</a></li>
              <li><a class="dropdown-item" href="#">PROGRAMMING IN C</a></li>
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S3
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">DISCRETE MATHEMATICAL STRUCTURES</a></li>
              <li><a class="dropdown-item" href="#">DATA STRUCTURES</a></li>
              <li><a class="dropdown-item" href="#">LOGIC SYSTEM DESIGN</a></li>
              <li><a class="dropdown-item" href="#">OOP USING JAVA</a></li>
              <li><a class="dropdown-item" href="#">DESIGN & ENGINEERING</a></li>
              <li><a class="dropdown-item" href="#">SUSTAINABLE ENGINEERING</a></li>
              <!-- <li><a class="dropdown-item" href="#">Notes</a></li> -->
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S4
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">GRAPH THEORY</a></li>
              <li><a class="dropdown-item" href="#">COMPUTER ORGANISATION & ARCHITECTURE</a></li>
              <li><a class="dropdown-item" href="#">DATABASE MANAGEMENT SYSTEMS</a></li>
              <li><a class="dropdown-item" href="#">OPERATING SYSTEMS</a></li>
              <li><a class="dropdown-item" href="#">PROFESSIONAL ETHICS</a></li>
              <li><a class="dropdown-item" href="#">CONSTITUTION OF INDIA</a></li>
              <!-- <li><a class="dropdown-item" href="#">Notes</a></li> -->
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S5
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">FORMAL LANGUAGES AND AUTOMATA THEORY</a></li>
              <li><a class="dropdown-item" href="#">COMPUTER NETWORKS</a></li>
              <li><a class="dropdown-item" href="#">SYSTEM SOFTWARE</a></li>
              <li><a class="dropdown-item" href="#">MICROPROCESSORS AND MICROCONTROLLERS</a></li>
              <li><a class="dropdown-item" href="#">MANAGEMENT OF SOFTWARE SYSTEMS</a></li>
              <li><a class="dropdown-item" href="#">DISASTER MANAGEMENT</a></li>
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S6
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">COMPILER DESIGN</a></li>
              <li><a class="dropdown-item" href="#">COMPUTER GRAPHICS AND IMAGE PROCESSING</a></li>
              <li><a class="dropdown-item" href="#">ALGORITHM ANALYSIS AND DESIGN</a></li>
              <li><a class="dropdown-item" href="#">PROGRAM ELECTIVE</a></li>
              <li><a class="dropdown-item" href="#">INDUSTRIAL ECONOMICS & FOREIGN TRADE</a></li>
              <li><a class="dropdown-item" href="#">COMPREHENSIVE COURSE WORK</a></li>
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S7
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">ARTIFICIAL INTELLIGENCE</a></li>
              <li><a class="dropdown-item" href="#">PROGRAM ELECTIVE II</a></li>
              <li><a class="dropdown-item" href="#">OPEN ELECTIVE</a></li>
              <li><a class="dropdown-item" href="#">INDUSTRIAL SAFETY ENGINEERING</a></li>
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              S8
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">DISTRIBUTED COMPUTING</a></li>
              <li><a class="dropdown-item" href="#">PROGRAM ELECTIVE III</a></li>
              <li><a class="dropdown-item" href="#">PROGRAM ELECTIVE IV</a></li>
              <li><a class="dropdown-item" href="#">PROGRAM ELECTIVE V</a></li>
              <li><a class="dropdown-item" href="#">COMPREHENSIVE COURSE VIVA</a></li>
              <li><a class="dropdown-item" href="#">Question Papers</a></li>
            </ul>
          </div>
    </div>
</div>