/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    font-family: 'Inter',sans-serif;
}
.app-homepage{
    overflow: hidden;
  }