<div class="main">
    <div class="head">
        <h1>STUDENTS LIST</h1>
    </div>
    <div class="body">
        <div class="f2">
        <a routerLink="/first">
        <button>S1-S2</button>
        </a>
        <a routerLink="/second">
        <button>S3-S4</button>
        </a>
        </div>
        <div class="l2">
            <a routerLink="/third">
        <button>S5-S6</button>
        </a>
        <a routerLink="/fourth">
        <button>S7-S8</button>
        </a>
        </div>
    </div>
</div>