<div class="main">
    <div class="head">
        <h1>STUDENTS LIST</h1>
    </div>
    <div class="body">
        <div class="f2">
        <a href="https://drive.google.com/file/d/1dZlrOYhwgbJ-MAI3tFtkDPktXKBcN93O/view?usp=sharing" target="blank">
        <button>S1-S2</button>
        </a>
        <a href="https://drive.google.com/file/d/1a3ZpJShgBAZTcOGbjjhR-DZYYlMPniCm/view?usp=sharing" target="blank">
        <button>S3-S4</button>
        </a>
        </div>
        <div class="l2">
        <a href="https://drive.google.com/file/d/16NT0rXIT6K_6DoAGkg1f-gXafhgWAMBe/view?usp=sharing" target="blank">
        <button>S5-S6</button>
        </a>
        <a href="https://drive.google.com/file/d/1eGEflOohA4lynXPvs7_G7icWWkHKPdtH/view?usp=sharing" target="blank">
        <button>S7-S8</button>
        </a>
        </div>
    </div>
</div>