.logo{
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(176,39,45,1) 100%);
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 300px;
    height: auto;
    overflow: hidden;
}